/*
if it's taken from an id i.e. <id='title'/>
css format will need to start with #
*/
#title {
    font-family: 'Times New Roman', Times, serif;
    font-size: 60px;
    font-style: oblique;
    font-weight: bold;
    font-display:initial;
    font-variant: normal;
    text-align: center;
}

#groupPicture {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: auto;
}

.container {
    align-items: center;
  }

#tinyText{
    font-style: italic;
}


#PersonText{
    font-style: italic;
    font-size: large;
    font-weight: 500;
}

.top-margin {
    padding-top: 10px;
  }
  
#UNRPicture{
    float: left;
    width:100px;
    height:100px;
    margin-right:10px;
}

#team {
    font-size: 30px;
    font-style: italic;
    text-align: center;
    margin-top: -15px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-display: initial;
}

#body-margin {
    margin-left: 150px;
    margin-right: 150px;
    border-right: 2px solid gainsboro;
    border-left: 2px solid gainsboro;
}

#meetTeam {
    font-size: 40px;
    padding-left: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#names {
    font-size: 25px;
    padding-left: 10px;
}

#book{
    font-size: 16px;
    margin-left: 40px;
    text-align: justify;
}

#transportation-booklink{
    color: blue;
    font-size: 16px;
    margin-left: 40px;
    text-align: justify;
}

#dot-booklink{
    color: blue;
    font-size: 16px;
    margin-left: 40px;
    text-align: justify;
}

#aaa-booklink{
    color: blue;
    font-size: 16px;
    margin-left: 40px;
    text-align: justify;
}

#statefarm-booklink{
    color: blue;
    font-size: 16px;
    margin-left: 40px;
    text-align: justify;
}


#bookinfo{
    font-size: 14px;
    margin-left: 80px;
    text-align: left;
    padding-right: 25px;
    text-align: justify;
}

#subtopic {
    padding-left: 10px;
    font-weight: 700;
    font-size: 19px;
    font-style: italic;
    padding-right: 20px;
    text-align: justify;
}

#s_description {
    font-size: 15px;
    padding-left: 15px;
    padding-right: 15px;
    text-align: justify;
}


#description {
    font-size: 20px;
    padding-left: 15px;
    padding-right: 15px;
    text-align: justify;
}

#book {
    padding-right: 20px;
    text-align: justify;
}

#button1 {
    display: flex;
  align-items: center;
  justify-content: center;
    
}
#button {
    text-align: center;
}