*{
  margin: 0;
  padding:0;
}

#body {
  background-color: rgba(185, 222, 203, 100);
  min-height: auto;
  min-width: 100%;
  align-items: center;
  text-align: center;
}

#welcome {
  color: rgb(0,0,0);
  font-size: 45px;
  font-weight: bold;
  letter-spacing: 2px;
  text-align: center;
  top: 500px;
}

#Logo {
  height: 400px;
  width: 400px;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#auxToggle {
  font-family:sans-serif;
  padding: 3px;
  font-size: 12px;
  background-color:white;
  display:inline-flex;
}

#colorblind {
  margin-left: 10px;
}