.radio-group {
  display: flex;
  flex-direction: column;
}

.mapboxgl-popup-close-button {
  width: 30px !important;
  height: 30px !important;
  font-size: 30px !important;
  line-height: 30px !important;
  color: gray;
}
.mapboxgl-popup-close-button:hover{
  opacity: 75%;
  background-color: red;
}

.popup-content {
  max-width: 189px;
  padding: 2px 16px 0px 2px;
  box-shadow: None;
  border-radius: 50px;
  background-color: transparent;
  width: 100%;
  height:100%;
  padding-right: 18px;
  padding-bottom: 0px; /* This property removes the extra whitespace at the bottom of the popup */
}

/* ========For comment rating system=========  */
.counter-container {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

#decrement-btn,
#increment-btn {
  width: 30px;
  height: 30px;
  border: none;
  border-radius: 50%;
  background-color: #e7eaf6;
  color: #555;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}

#decrement-btn:hover,
#increment-btn:hover {
  background-color: #c5c8d8;
  color: #fff;
}
/* =================  */

.popup-button {
  background-color: #559cad;
  color: #FFFFFF;
  border-radius: 2px;
  border: none;
  padding: 8px 16px;
  margin-bottom: 8px;
  cursor: pointer;
  width: 100%;
  height:100%;
  text-align: center;
  font-size: 16px;
  transition: background-color 0.2s ease-in-out;
}
.popup-button:last-child {
  margin-bottom: 0;
}
.popup-button-display-button-like{
  background-color: #28c210;
  color: #FFFFFF;
  border-radius: 2px;
  border: none;
  padding: 8px 16px;
  margin-bottom: 8px;
  cursor: pointer;
  width: 100%;
  height: 100%;
  text-align: center;
  font-size: 16px;
  transition: background-color 0.2s ease-in-out;
}
#comment-content{
  text-align: center;
}
.popup-button-display-button-dislike{
  background-color: #a50303;
  color: #FFFFFF;
  border-radius: 2px;
  border: none;
  padding: 8px 16px;
  margin-bottom: 8px;
  cursor: pointer;
  width: 100%;
  height: 100%;
  text-align: center;
  font-size: 16px;
  transition: background-color 0.2s ease-in-out;
}
.popup-button-display-button-dislike:active{
  transform: translateY(5px);
  background-color:rgb(77, 0, 15);
}
.popup-button-display-button-like:active{
  transform: translateY(5px);
  background-color:rgb(3, 101, 34);
}
.popup-button:hover {
  background-color: #5cb85c;
}

.comment-button {
  background-color: #559cad;
}

.request-button {
  background-color: #559cad;
}

.open-info {
  background-color: #559cad;
}

.open-info:hover {
  background-color: #b990ff;
}

.close-button-container {
  position: absolute;
  right: 2px;
  top: 2px;
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.close-button::before,
.close-button::after {
  content: "";
  position: absolute;
  width: 16px;
  height: 2px;
  background-color: gray;
}

.close-button::before {
  transform: rotate(45deg);
}

.close-button::after {
  transform: rotate(-45deg);
}

#comment-btn {
  background-color: #559cad;
}

#comment-btn:hover {
  background-color: #5cb85c;
}

#request-btn {
  background-color: #559cad;
}

#request-btn:hover {
  background-color: #5cb85c;
}

.popup-buttons-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}


#dislike-btn:hover {
  background-color: #559cad;
}



.close-button {
  background-color: transparent;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-weight: bold;
  line-height: 1;
  color: gray;
  border: none;
  outline: none;
  border-radius: 2px;
  transition: background-color 0.2s ease-in-out;
}

.close-button:hover {
  background-color: darkgray;
}


.radio-item {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

#awd{
  font-size: 20px; 
  color: red;
}

select {
  font-size: 16px;
  font-weight: bold;
  background-color: #008080;
  padding: 8px;
  border: none;
  border-radius: 4px;
  box-shadow: none;
  text-align: center;
  height: 30px;
  opacity: 85%;
  transition: 0.3s;
}
select:hover{
  opacity: 100%;
}

.description-text {
  font-size: 14px;
  color: #000;
  text-align: center !important;
}

.stretch-box-black-text {
  color: #000;
}

#Description {
  color: white;
  font-weight: 600;
  text-align: center;
  font-size: 24px;
}

.stretch-box{
  width: 80%;
  height: 50%;
}

.black-text{
  font-size: 20px; 
  color: black;
}


/* #menu {
  display: flex;
  justify-content: space-evenly;
} */
/* #menu {
  align-items: center;
  align-content: center;
  text-align: center;
} */
#menu label {
  display: inline-block;
  margin-top: 3px;
  align-items: center;
}
img[alt="street"] {
  display: block;
  margin: 0 auto;
  width: 45px;
  height: 45px;
  border: 2px solid white;
  text-align: center;
}
#menu label:hover img {
  width: 50px;
  height: 50px;
  z-index: 1;
}

.MenuButton:hover {
  background-color: orange;
}

label span {
  font-size: 18px;
  display: inline-block;
  text-align: center;
  width: 100%;
}

#menu input[type="radio"] {
  display: none;
}

/* Google Search Bar */

form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  padding: 10px;
  align-content: center;
  background-color: #B9DECB;
}
input[type="text"] {
  flex-grow: 1;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-right: none;
    border-radius: 5px 0 0 5px;
}
input[type="submit"] {
  padding: 10px 20px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-left: none;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  background-color: #4785ff;
}
input[type="submit"]:hover {
  background-color: #ddd;
}

.mapboxgl-ctrl-directions .suggestions {
background-color: #f39f18;
}
.mapboxgl-ctrl-directions .suggestions li {
color: black;
}